{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Glint Studio &mdash; Onepage Website Template by Free-Template.co</title>
  {% include '../partials/_header.html' %}
  {% include '../partials/_style.html' %}

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <!--  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> -->

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <div class="site-navbar-wrap">

      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            {% for i in user %}
            <div class="col-6 col-md-4">
              <h1 class="my-0 site-logo"><a href="index.html">{{ i.title }}<span class="text-primary">.</span> </a></h1>
            </div>
            {% endfor %}
            <div class="col-6 col-md-8">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">

                  <div class="d-inline-block d-lg-block ml-md-0 mr-auto py-3"><a href="#"
                      class="site-menu-toggle js-menu-toggle text-black">
                      <span class="icon-menu h3"></span> <span class="menu-text">Menu</span>
                    </a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-none">
                    <li><a href="#home-section" class="nav-link">Home</a></li>
                    <li><a href="#what-we-do-section" class="nav-link">What We Do</a></li>
                    <li><a href="#about-section" class="nav-link">About Us</a></li>
                    <li><a href="#portfolio-section" class="nav-link">Portfolio</a></li>
                    <li><a href="#studio-section" class="nav-link">Gallery</a></li>
                    <li><a href="#contact-section" class="nav-link">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-navbar-wrap -->
    {% include '../shared/account.html' %}
    <!-- END .site-blocks-cover -->
    {% include '../shared/services.html' %}
    {% include '../shared/about.html' %}
    {% include '../shared/team.html' %}
    {% include '../shared/work.html' %}
    {% include '../shared/photos.html' %}
    {% include '../shared/contact.html' %}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            {% for i  in about %}
            <div class="row mb-5">
              <div class="col-12">
                <h3 class="footer-heading mb-4">About Us</h3>
                <p>{{ i.content }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-lg-3 ml-auto">

            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigation</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#home-section" class="smoothscroll">Home</a></li>
                  <li><a href="#what-we-do-section" class="smoothscroll">What We Do</a></li>
                  <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                  <li><a href="#team-section" class="smoothscroll">Team</a></li>
                </ul>
              </div>

            </div>

          </div>
          
        {% for i in user %}
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-5">
              <h3 class="footer-heading mb-2">{{ i.title }}</h3>
              <p>{{ i.about }}</p>
              <p>manager : {{ i.call_number }}</p>
            </div>
          </div>
          
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="mb-4">
              <a href="{{ i.github }}" class="pl-0 pr-3"><span class="icon-github"></span></a>
              <a href="{{ i.youtube }}" class="pl-3 pr-3"><span class="icon-youtube"></span></a>
              <a href="{{ i.instagram }}" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="{{ i.linkedin }}" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
            <p>
              <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
              <small class="block">&copy; 2024 <strong class="text-white">{{ i.title }}</strong> All
                Rights Reserved. <br> Design by <a href="https://github.com/Pybackender"
                target="_blank">Designer</a></small>
            </p>
          </div>
          
        </div>
        {% endfor %}
      </div>
    </footer>
  </div>

  {% include '../partials/_script.html' %}


</body>

</html>