{% load static %}
<div class="site-section" id="about-section">
    <div class="container">
        {% for i in about %}
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5">
                <img src="{% if i.avatar %}{{ i.avatar.url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </div>
            <div class="col-lg-5 ml-auto section-title">
                <span class="sub-title mb-2 d-block">Acquaint Us</span>
                <h2 class="title text-primary mb-3">About us</h2>
                <p class="mb-4">{{ i.content }}</p>

                <div class="d-flex flex-wrap">
                    {% for i in skill %}
                    <div class="col-6">
                        <ul class="list-unstyled ul-check success">
                            <li>{{ i.skill }}</li>
                        </ul>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="w-100"></div>  <!-- Force a line break after every two skills -->
                    {% endif %}
                    {% endfor %}
                </div>
                
                <p><a data-fancybox data-ratio="2" href="{{ i.video }}"
                    class="d-flex align-items-center"><span class="icon-play_circle_outline h4 m-0 mr-2"></span> <span>Watch
                    the video</span></a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div> <!-- .END site-section -->
