{% load static %}
<div class="site-section" id="contact-section">
    <div class="container">
        <form class="contact-form" method="post">
            <div class="section-title text-center mb-5">
                <span class="sub-title mb-2 d-block">Get In Touch</span>
                <h2 class="title text-primary">Contact Us</h2>
            </div>
            {% block messages %}
                    {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|capfirst }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                    {% endblock messages %}
            
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col-md-6 mb-4 mb-md-0">
                    {{ form.firstname }}
                    {{ form.first_name.errors }}  <!-- Display errors if any -->
                </div>
                <div class="col-md-6">
                    {{ form.lastname }}
                    {{ form.last_name.errors }}  <!-- Display errors if any -->
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    {{ form.email }}
                    {{ form.email.errors }}  <!-- Display errors if any -->
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    {{ form.message }}
                    {{ form.message.errors }}  <!-- Display errors if any -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-md">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</div> <!-- END .site-section -->
