{% load static %}
<div class="site-section" id="studio-section">
  <div class="container">
    <div class="row mb-5 ">
      <div class="col-md-7 section-title text-center mx-auto">
        <span class="sub-title mb-2 d-block">Photos</span>
        <h2 class="title text-primary mb-3">Studio Gallery</h2>
      </div>
    </div>

    <div id="posts" class="row no-gutter clearfix">
      {% for i in photo %}
        <div class="item web col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4 {% if forloop.counter|divisibleby:3 %}last-item{% endif %}">
          <a href="{% if i.image %}{{ i.image.url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}" class="item-wrap" data-fancybox="gal">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="{% if i.image %}{{ i.image.url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div> <!-- END .site-section -->
