{% load static %}
<div class="site-section" id="what-we-do-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6 section-title">
          <span class="sub-title mb-2 d-block">Meet The Team</span>
          <h2 class="title text-primary">We are talented people.</h2>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 mb-5 person">
          <img src="{% static 'assets/web/images/person_1.jpg'%}" alt="Free website template by Free-Template.co" class="img-fluid mb-5">

          <div class="row">
            <div class="col-lg-10 ml-auto">
              <div class="pr-lg-5">
                <h3>Jacob Spencer</h3>
                <span class="mb-4 d-block">CEO, Co-Founder</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                  the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                  language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is
                  a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p class="d-flex align-items-center">
                  <span class="mr-3 text-black">Follow me:</span>
                  <a href="#" class="twitter pr-2 pt-2 pb-2 pl-0"><span class="icon-twitter"></span></a>
                  <a href="#" class="facebook p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="dribbble p-2"><span class="icon-dribbble"></span></a>
                  <a href="#" class="instagram p-2"><span class="icon-instagram"></span></a>
                  <a href="#" class="linkedin p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 person">
          <img src="{% static 'assets/web/images/person_2.jpg'%}" alt="Free website template by Free-Template.co" class="img-fluid mb-5">
          <div class="row">
            <div class="col-lg-10 ml-auto">
              <div class="pr-lg-5">
                <h3>Chris Peters</h3>
                <span class="mb-4 d-block">CTO, Co-Founder</span>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                  life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
                  far World of Grammar.</p>
                <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question
                  Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia,
                  put her initial into the belt and made herself on the way.</p>
                <p class="d-flex align-items-center">
                  <span class="mr-3 text-black">Follow me:</span>
                  <a href="#" class="twitter pr-2 pt-2 pb-2 pl-0"><span class="icon-twitter"></span></a>
                  <a href="#" class="github p-2"><span class="icon-github"></span></a>
                  <a href="#" class="dribbble p-2"><span class="icon-dribbble"></span></a>
                  <a href="#" class="instagram p-2"><span class="icon-instagram"></span></a>
                  <a href="#" class="linkedin p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
