{% load static %}
<div class="site-section" id="what-we-do-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6 section-title">
          <span class="sub-title mb-2 d-block">Meet The Team</span>
          <h2 class="title text-primary">We are talented people.</h2>
        </div>
      </div>
      <div class="row no-gutters">
        {% for i in team %}
        <div class="col-lg-6 mb-5 person">
          <img src="{% if i.image %}{{ i.image.url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}" alt="Free website template by Free-Template.co" class="img-fluid mb-5">

          <div class="row">
            <div class="col-lg-10 ml-auto">
              <div class="pr-lg-5">
                <h3>{{ i.name }}</h3>
                <span class="mb-4 d-block">{{ i.positions }}</span>
                <p>{{ i.content }}</p>
                <p class="d-flex align-items-center">
                  <span class="mr-3 text-black">Follow me:</span>
                  <a href="#" class="{{ i.github }}"><span class="icon-github"></span></a>
                  <a href="#" class="{{ i.instagram }}"><span class="icon-instagram"></span></a>
                  <a href="#" class="{{ i.linkedin }}"><span class="icon-linkedin"></span></a>
                </p>
                <span class="mr-3 text-black">my email:</span>
                <h5>{{ i.email }}
                </h5>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- {% if i.github or i.instagram or i.linkedin %}
  <p class="d-flex align-items-center">
    <span class="mr-3 text-black">Follow me:</span>
    {% if i.github %}
      <a href="#" class="{{ i.github }}"><span class="icon-github"></span></a>
    {% endif %}
    {% if i.instagram %}
      <a href="#" class="{{ i.instagram }}"><span class="icon-instagram"></span></a>
    {% endif %}
    {% if i.linkedin %}
      <a href="#" class="{{ i.linkedin }}"><span class="icon-linkedin"></span></a>
    {% endif %}
  </p>
{% endif %} -->

